<div gp-el-wrapper  class="gn8BycyItn ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gn8BycyItn"
      data-id="gn8BycyItn"
      style="--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--jc:left"
      className="gn8BycyItn"
      gp-data='{"position":{"desktop":"baseline","tablet":"center","mobile":"center"},"iconWidth":{"desktop":"9"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gn8BycyItn"
                      style="--cg:8px"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#D4AE36;--w:100%;--h:100%;--size-desktop:9px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg data-name="HF (5).svg" data-id="577725975815521276" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.2"><defs><clipPath id="b19373f3da"><path d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></clipPath><clipPath id="37b2b6e5f5"><path d="M 187.5 15.167969 C 92.324219 15.167969 15.167969 92.324219 15.167969 187.5 C 15.167969 282.675781 92.324219 359.832031 187.5 359.832031 C 282.675781 359.832031 359.832031 282.675781 359.832031 187.5 C 359.832031 92.324219 282.675781 15.167969 187.5 15.167969 Z M 187.5 15.167969 "/></clipPath></defs><g id="9d13490505"><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><g clip-rule="nonzero" clip-path="url(#b19373f3da)"><g clip-rule="nonzero" clip-path="url(#37b2b6e5f5)"><path style=" stroke:none;fill-rule:nonzero;fill:#d4ae36;fill-opacity:1;" d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></g></g></g></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753882263876"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#6D6D6D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn8BycyItn_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gn8BycyItn"
                      style="--cg:8px"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#D4AE36;--w:100%;--h:100%;--size-desktop:9px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg data-name="HF (5).svg" data-id="577725975815521276" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.2"><defs><clipPath id="b19373f3da"><path d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></clipPath><clipPath id="37b2b6e5f5"><path d="M 187.5 15.167969 C 92.324219 15.167969 15.167969 92.324219 15.167969 187.5 C 15.167969 282.675781 92.324219 359.832031 187.5 359.832031 C 282.675781 359.832031 359.832031 282.675781 359.832031 187.5 C 359.832031 92.324219 282.675781 15.167969 187.5 15.167969 Z M 187.5 15.167969 "/></clipPath></defs><g id="9d13490505"><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><g clip-rule="nonzero" clip-path="url(#b19373f3da)"><g clip-rule="nonzero" clip-path="url(#37b2b6e5f5)"><path style=" stroke:none;fill-rule:nonzero;fill:#d4ae36;fill-opacity:1;" d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></g></g></g></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753882263876"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#6D6D6D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn8BycyItn_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gn8BycyItn"
                      style="--cg:8px"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#D4AE36;--w:100%;--h:100%;--size-desktop:9px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg data-name="HF (5).svg" data-id="577725975815521276" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.2"><defs><clipPath id="b19373f3da"><path d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></clipPath><clipPath id="37b2b6e5f5"><path d="M 187.5 15.167969 C 92.324219 15.167969 15.167969 92.324219 15.167969 187.5 C 15.167969 282.675781 92.324219 359.832031 187.5 359.832031 C 282.675781 359.832031 359.832031 282.675781 359.832031 187.5 C 359.832031 92.324219 282.675781 15.167969 187.5 15.167969 Z M 187.5 15.167969 "/></clipPath></defs><g id="9d13490505"><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><g clip-rule="nonzero" clip-path="url(#b19373f3da)"><g clip-rule="nonzero" clip-path="url(#37b2b6e5f5)"><path style=" stroke:none;fill-rule:nonzero;fill:#d4ae36;fill-opacity:1;" d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></g></g></g></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753882263876"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#6D6D6D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn8BycyItn_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gn8BycyItn"
                      style="--cg:8px"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#D4AE36;--w:100%;--h:100%;--size-desktop:9px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg data-name="HF (5).svg" data-id="577725975815521276" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.2"><defs><clipPath id="b19373f3da"><path d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></clipPath><clipPath id="37b2b6e5f5"><path d="M 187.5 15.167969 C 92.324219 15.167969 15.167969 92.324219 15.167969 187.5 C 15.167969 282.675781 92.324219 359.832031 187.5 359.832031 C 282.675781 359.832031 359.832031 282.675781 359.832031 187.5 C 359.832031 92.324219 282.675781 15.167969 187.5 15.167969 Z M 187.5 15.167969 "/></clipPath></defs><g id="9d13490505"><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><g clip-rule="nonzero" clip-path="url(#b19373f3da)"><g clip-rule="nonzero" clip-path="url(#37b2b6e5f5)"><path style=" stroke:none;fill-rule:nonzero;fill:#d4ae36;fill-opacity:1;" d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></g></g></g></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753882263877"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#6D6D6D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn8BycyItn_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="4"
                      data-index="4"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gn8BycyItn"
                      style="--cg:8px"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#D4AE36;--w:100%;--h:100%;--size-desktop:9px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg data-name="HF (5).svg" data-id="577725975815521276" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.2"><defs><clipPath id="b19373f3da"><path d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></clipPath><clipPath id="37b2b6e5f5"><path d="M 187.5 15.167969 C 92.324219 15.167969 15.167969 92.324219 15.167969 187.5 C 15.167969 282.675781 92.324219 359.832031 187.5 359.832031 C 282.675781 359.832031 359.832031 282.675781 359.832031 187.5 C 359.832031 92.324219 282.675781 15.167969 187.5 15.167969 Z M 187.5 15.167969 "/></clipPath></defs><g id="9d13490505"><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><g clip-rule="nonzero" clip-path="url(#b19373f3da)"><g clip-rule="nonzero" clip-path="url(#37b2b6e5f5)"><path style=" stroke:none;fill-rule:nonzero;fill:#d4ae36;fill-opacity:1;" d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></g></g></g></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753882263877"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#6D6D6D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn8BycyItn_childItem_4 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="5"
                      data-index="5"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gn8BycyItn"
                      style="--cg:8px"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#D4AE36;--w:100%;--h:100%;--size-desktop:9px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg data-name="HF (5).svg" data-id="577725975815521276" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.2"><defs><clipPath id="b19373f3da"><path d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></clipPath><clipPath id="37b2b6e5f5"><path d="M 187.5 15.167969 C 92.324219 15.167969 15.167969 92.324219 15.167969 187.5 C 15.167969 282.675781 92.324219 359.832031 187.5 359.832031 C 282.675781 359.832031 359.832031 282.675781 359.832031 187.5 C 359.832031 92.324219 282.675781 15.167969 187.5 15.167969 Z M 187.5 15.167969 "/></clipPath></defs><g id="9d13490505"><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><rect x="0" width="375" y="0" height="374.999991" style="fill:#ffffff;fill-opacity:1;stroke:none;"/><g clip-rule="nonzero" clip-path="url(#b19373f3da)"><g clip-rule="nonzero" clip-path="url(#37b2b6e5f5)"><path style=" stroke:none;fill-rule:nonzero;fill:#d4ae36;fill-opacity:1;" d="M 15.167969 15.167969 L 359.832031 15.167969 L 359.832031 359.832031 L 15.167969 359.832031 Z M 15.167969 15.167969 "/></g></g></g></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753882263877"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text gp-g-paragraph-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#6D6D6D;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn8BycyItn_childItem_5 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>