

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577721319903199932.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577721319903199932.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577721319903199932.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577721319903199932.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577721319903199932.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577721319903199932.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577721319903199932.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577721319903199932.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577721319903199932.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577721319903199932.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-577721319903199932.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577721319903199932.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577721319903199932.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-577721319903199932.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577721319903199932.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577721319903199932.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577721319903199932.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-577721319903199932.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577721319903199932.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577721319903199932.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-577721319903199932.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-577721319903199932.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577721319903199932.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577721319903199932.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577721319903199932.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-577721319903199932.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577721319903199932.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577721319903199932.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-577721319903199932.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577721319903199932.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577721319903199932.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-577721319903199932.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577721319903199932.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577721319903199932.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577721319903199932.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577721319903199932.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577721319903199932.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577721319903199932.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577721319903199932.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577721319903199932.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577721319903199932.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577721319903199932.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577721319903199932.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577721319903199932.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577721319903199932.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577721319903199932.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577721319903199932.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577721319903199932.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577721319903199932.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-577721319903199932.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577721319903199932.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577721319903199932.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577721319903199932.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577721319903199932.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577721319903199932.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577721319903199932.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-577721319903199932.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577721319903199932.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-577721319903199932.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-577721319903199932.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577721319903199932.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577721319903199932.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577721319903199932.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577721319903199932.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577721319903199932.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577721319903199932.gps.gpsil [style*="--of-tablet:"]{overflow:var(--of-tablet)}.gps-577721319903199932.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577721319903199932.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577721319903199932.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577721319903199932.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577721319903199932.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-577721319903199932.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577721319903199932.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577721319903199932.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577721319903199932.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577721319903199932.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577721319903199932.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577721319903199932.gps.gpsil [style*="--of-mobile:"]{overflow:var(--of-mobile)}.gps-577721319903199932.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577721319903199932.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577721319903199932.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577721319903199932.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577721319903199932.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-577721319903199932.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-577721319903199932.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577721319903199932.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577721319903199932 .gp-relative{position:relative}.gps-577721319903199932 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577721319903199932 .gp-mb-0{margin-bottom:0}.gps-577721319903199932 .gp-flex{display:flex}.gps-577721319903199932 .gp-grid{display:grid}.gps-577721319903199932 .\!gp-hidden{display:none!important}.gps-577721319903199932 .gp-hidden{display:none}.gps-577721319903199932 .gp-max-w-full{max-width:100%}.gps-577721319903199932 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577721319903199932 .gp-flex-col{flex-direction:column}.gps-577721319903199932 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577721319903199932 .gp-duration-200{transition-duration:.2s}.gps-577721319903199932 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-577721319903199932 .tablet\:\!gp-hidden{display:none!important}.gps-577721319903199932 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-577721319903199932 .mobile\:\!gp-hidden{display:none!important}.gps-577721319903199932 .mobile\:gp-hidden{display:none}}.gps-577721319903199932 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#077F90","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gBt-BW3NRd"}' data-id="gBt-BW3NRd" id="gBt-BW3NRd" data-same-height-subgrid-container class="gBt-BW3NRd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:80px;--pb:var(--g-s-2xl);--pr:80px;--pt-tablet:var(--g-s-2xl);--pl-tablet:80px;--pb-tablet:var(--g-s-2xl);--pr-tablet:80px;--pt-mobile:var(--g-s-2xl);--pl-mobile:24px;--pb-mobile:var(--g-s-2xl);--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#077F90;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyKqEKT8iD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaQ0WxBVbC"
        class="gaQ0WxBVbC"
        style="--ta:left;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669359"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-heading, heading);--weight:500;--size:36px;--size-tablet:36px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaQ0WxBVbC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSYtCEAgwZ"
        class="gSYtCEAgwZ"
        style="--ta:left;--mb:3px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:3px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:3px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:none;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669362"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-heading, heading);--weight:500;--size:36px;--size-tablet:36px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSYtCEAgwZ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0_Bn8U_Sy"
        class="g0_Bn8U_Sy"
        style="--ta:left;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:none;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669364"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:17px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0_Bn8U_Sy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCRoBwuYsI"
        class="gCRoBwuYsI"
        style="--ta:left;--mb:14px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:14px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:none;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669366"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:17px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCRoBwuYsI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gSCawAZhBq"}' data-id="gSCawAZhBq" id="gSCawAZhBq" data-same-height-subgrid-container class="gSCawAZhBq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:15px;--mb-tablet:15px;--mb-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsAGRGAghb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gV92Ie9V0F"}' data-id="gV92Ie9V0F" id="gV92Ie9V0F" data-same-height-subgrid-container class="gV92Ie9V0F gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px;--bc:var(--g-c-line-3, line-3);--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0lcdWTzlJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdDAE-ABWr"
        class="gdDAE-ABWr"
        style="--ta:left;--pt:10px;--pl:10px;--pb:0px;--pr:10px;--pt-tablet:10px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669409"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#077F90;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdDAE-ABWr_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCJWiIK6T2"
        class="gCJWiIK6T2"
        style="--ta:left;--pt:0px;--pl:10px;--pb:10px;--pr:10px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:10px;--pr-tablet:10px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669417"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCJWiIK6T2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gB4oU-vgd3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g8D9Lpb1lR"}' data-id="g8D9Lpb1lR" id="g8D9Lpb1lR" data-same-height-subgrid-container class="g8D9Lpb1lR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px;--bc:var(--g-c-line-3, line-3);--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXrC_vnMbn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXLBSAb-xY"
        class="gXLBSAb-xY"
        style="--ta:left;--pt:10px;--pl:10px;--pb:0px;--pr:10px;--pt-tablet:10px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669424"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#077F90;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXLBSAb-xY_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1sTQp9sXf"
        class="g1sTQp9sXf"
        style="--ta:left;--pt:0px;--pl:10px;--pb:10px;--pr:10px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:10px;--pr-tablet:10px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669425"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1sTQp9sXf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"glw2GcXfCg"}' data-id="glw2GcXfCg" id="glw2GcXfCg" data-same-height-subgrid-container class="glw2GcXfCg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBvwBclopD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gVjsxwtsjS"}' data-id="gVjsxwtsjS" id="gVjsxwtsjS" data-same-height-subgrid-container class="gVjsxwtsjS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px;--bc:var(--g-c-line-3, line-3);--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPHslvfD4k gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3690wniqS"
        class="g3690wniqS"
        style="--ta:left;--pt:10px;--pl:10px;--pb:0px;--pr:10px;--pt-tablet:10px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669433"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#077F90;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3690wniqS_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_pNcZotxy"
        class="g_pNcZotxy"
        style="--ta:left;--pt:0px;--pl:10px;--pb:10px;--pr:10px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:10px;--pr-tablet:10px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669436"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_pNcZotxy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g7AZ_lZ-SY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g-XPiGdvDk"}' data-id="g-XPiGdvDk" id="g-XPiGdvDk" data-same-height-subgrid-container class="g-XPiGdvDk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px;--bc:var(--g-c-line-3, line-3);--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNj8KiFhZL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcLDAQ25ks"
        class="gcLDAQ25ks"
        style="--ta:left;--pt:10px;--pl:10px;--pb:0px;--pr:10px;--pt-tablet:10px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669448"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Urbanist, 'Urbanist'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#077F90;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcLDAQ25ks_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g59T53QM_9"
        class="g59T53QM_9"
        style="--ta:left;--pt:0px;--pl:10px;--pb:10px;--pr:10px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:10px;--pr-tablet:10px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753878669450"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg59T53QM_9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vEZms.woff) format('woff');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0xjDF02iFML4hGCyOCpRdycFsGxSrqD-R4vEZms.woff) format('woff');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDLBkvEZms.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0x-DF02iFML4hGCyMqrbS1miXK2Z7s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0x-DF02iFML4hGCyMqlbS1miXK2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0x-DF02iFML4hGCyMqrbS1miXK2Z7s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0x-DF02iFML4hGCyMqlbS1miXK2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0x-DF02iFML4hGCyMqrbS1miXK2Z7s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v17/L0x-DF02iFML4hGCyMqlbS1miXK2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-577721319903199932 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1n0xuf-x6/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=577600234792813068&sectionId=577721319903199932)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaQ0WxBVbC_text","label":"ggaQ0WxBVbC_text","default":"<span style=\"font-size:33px;\"><strong>REGAIN YOUR&nbsp;</strong></span><br><span style=\"font-size:33px;\"><strong>CONFIDENCE BACK</strong></span>"},{"type":"html","id":"ggSYtCEAgwZ_text","label":"ggSYtCEAgwZ_text","default":"<span style=\"font-size:38px;\"><strong><u>THE MAGIC IS IN THE INGREDIENTS</u></strong></span>"},{"type":"html","id":"gg0_Bn8U_Sy_text","label":"gg0_Bn8U_Sy_text","default":"<p><span style=\"font-size:18px;\">Hair.Skin.Nails promotes your hair, skin and nails overall health, strength and growth. See&nbsp;</span></p><p><span style=\"font-size:18px;\">yourself better in the mirror with Weem.</span></p>"},{"type":"html","id":"ggCRoBwuYsI_text","label":"ggCRoBwuYsI_text","default":"<p><span style=\"font-size:23px;\">Hair.Skin.Nails contains tested &amp; proven to work ingredients that combat thinning hair,&nbsp;</span></p><p><span style=\"font-size:23px;\">brittle nails and bad skin.</span></p>"},{"type":"html","id":"ggdDAE-ABWr_text","label":"ggdDAE-ABWr_text","default":"Biotin"},{"type":"html","id":"ggCJWiIK6T2_text","label":"ggCJWiIK6T2_text","default":"<p><span style=\"font-size:18px;\">Supports your body production of Keratin and Collagen</span></p>"},{"type":"html","id":"ggXLBSAb-xY_text","label":"ggXLBSAb-xY_text","default":"Vitamins A, C and E"},{"type":"html","id":"gg1sTQp9sXf_text","label":"gg1sTQp9sXf_text","default":"<p><span style=\"font-size:18px;\">Neutralize follicle-damaging free radicals and heal the damage</span></p>"},{"type":"html","id":"gg3690wniqS_text","label":"gg3690wniqS_text","default":"Vitamins B5, B6 and B12"},{"type":"html","id":"gg_pNcZotxy_text","label":"gg_pNcZotxy_text","default":"<p><span style=\"font-size:18px;\">Supports your body production of Keratin and Collagen</span></p>"},{"type":"html","id":"ggcLDAQ25ks_text","label":"ggcLDAQ25ks_text","default":"Zinc"},{"type":"html","id":"gg59T53QM_9_text","label":"gg59T53QM_9_text","default":"<p><span style=\"font-size:18px;\">Promotes &amp; help maintain scalp health, great for your overall wellbeing</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
