

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577603988543767228.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-577603988543767228.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-577603988543767228.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577603988543767228.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-577603988543767228.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577603988543767228.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577603988543767228.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577603988543767228.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-577603988543767228.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577603988543767228.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577603988543767228.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577603988543767228.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577603988543767228.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577603988543767228.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-577603988543767228.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577603988543767228.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577603988543767228.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-577603988543767228.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577603988543767228.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577603988543767228.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577603988543767228.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-577603988543767228.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577603988543767228.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577603988543767228.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-577603988543767228.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-577603988543767228.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-577603988543767228.gps.gpsil [style*="--focus-radius:"]:focus{border-radius:var(--focus-radius)}.gps-577603988543767228.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577603988543767228.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577603988543767228.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577603988543767228.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-577603988543767228.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577603988543767228.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577603988543767228.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-577603988543767228.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577603988543767228.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577603988543767228.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-577603988543767228.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577603988543767228.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577603988543767228.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577603988543767228.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577603988543767228.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577603988543767228.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577603988543767228.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577603988543767228.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577603988543767228.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-577603988543767228.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577603988543767228.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577603988543767228.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577603988543767228.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577603988543767228.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577603988543767228.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577603988543767228.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-577603988543767228.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577603988543767228.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577603988543767228.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577603988543767228.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577603988543767228.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-577603988543767228.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-577603988543767228.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577603988543767228.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577603988543767228.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577603988543767228.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577603988543767228.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577603988543767228.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577603988543767228.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577603988543767228.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577603988543767228.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-577603988543767228.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577603988543767228.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-577603988543767228.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-577603988543767228.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577603988543767228.gps.gpsil [style*="--ws:"]{white-space:var(--ws)}.gps-577603988543767228.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577603988543767228.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577603988543767228.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-577603988543767228.gps.gpsil [style*="--bg-tablet:"]{background:var(--bg-tablet)}.gps-577603988543767228.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-577603988543767228.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-577603988543767228.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-577603988543767228.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-577603988543767228.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577603988543767228.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-577603988543767228.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577603988543767228.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-577603988543767228.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577603988543767228.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577603988543767228.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-577603988543767228.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-577603988543767228.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577603988543767228.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577603988543767228.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577603988543767228.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577603988543767228.gps.gpsil [style*="--ws-tablet:"]{white-space:var(--ws-tablet)}.gps-577603988543767228.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577603988543767228.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577603988543767228.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-577603988543767228.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-577603988543767228.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-577603988543767228.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-577603988543767228.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-577603988543767228.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577603988543767228.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-577603988543767228.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577603988543767228.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577603988543767228.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-577603988543767228.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577603988543767228.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577603988543767228.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-577603988543767228.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-577603988543767228.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-577603988543767228.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577603988543767228.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577603988543767228.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577603988543767228.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577603988543767228.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-577603988543767228.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-577603988543767228.gps.gpsil [style*="--ws-mobile:"]{white-space:var(--ws-mobile)}.gps-577603988543767228.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577603988543767228.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577603988543767228 .gp-absolute{position:absolute}.gps-577603988543767228 .gp-relative{position:relative}.gps-577603988543767228 .gp-left-0{left:0}.gps-577603988543767228 .gp-top-0{top:0}.gps-577603988543767228 .gp-z-0{z-index:0}.gps-577603988543767228 .gp-z-\[90\]{z-index:90}.gps-577603988543767228 .\!gp-m-0{margin:0!important}.gps-577603988543767228 .\!gp-m-auto{margin:auto!important}.gps-577603988543767228 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577603988543767228 .gp-mb-0{margin-bottom:0}.gps-577603988543767228 .gp-flex{display:flex}.gps-577603988543767228 .gp-inline-flex{display:inline-flex}.gps-577603988543767228 .gp-grid{display:grid}.gps-577603988543767228 .\!gp-hidden{display:none!important}.gps-577603988543767228 .gp-hidden{display:none}.gps-577603988543767228 .gp-h-0{height:0}.gps-577603988543767228 .gp-h-full{height:100%}.gps-577603988543767228 .gp-w-full{width:100%}.gps-577603988543767228 .\!gp-min-w-full{min-width:100%!important}.gps-577603988543767228 .\!gp-max-w-full{max-width:100%!important}.gps-577603988543767228 .gp-max-w-full{max-width:100%}.gps-577603988543767228 .gp-cursor-pointer{cursor:pointer}.gps-577603988543767228 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577603988543767228 .gp-flex-col{flex-direction:column}.gps-577603988543767228 .gp-items-start{align-items:flex-start}.gps-577603988543767228 .gp-items-center{align-items:center}.gps-577603988543767228 .gp-justify-start{justify-content:flex-start}.gps-577603988543767228 .gp-justify-center{justify-content:center}.gps-577603988543767228 .gp-overflow-hidden{overflow:hidden}.gps-577603988543767228 .gp-break-words{overflow-wrap:break-word}.gps-577603988543767228 .\!gp-rounded-none{border-radius:0!important}.gps-577603988543767228 .\!gp-pb-0{padding-bottom:0!important}.gps-577603988543767228 .gp-text-center{text-align:center}.gps-577603988543767228 .gp-leading-\[0\]{line-height:0}.gps-577603988543767228 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-577603988543767228 .gp-no-underline{text-decoration-line:none}.gps-577603988543767228 .gp-outline-1{outline-width:1px}.gps-577603988543767228 .-gp-outline-offset-1{outline-offset:-1px}.gps-577603988543767228 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577603988543767228 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577603988543767228 .gp-duration-200{transition-duration:.2s}.gps-577603988543767228 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577603988543767228 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-577603988543767228 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-577603988543767228 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-577603988543767228 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-577603988543767228 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-577603988543767228 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-577603988543767228 .tablet\:\!gp-hidden{display:none!important}.gps-577603988543767228 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-577603988543767228 .mobile\:\!gp-hidden{display:none!important}.gps-577603988543767228 .mobile\:gp-hidden{display:none}}.gps-577603988543767228 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-577603988543767228 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-577603988543767228 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-577603988543767228 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-577603988543767228 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-577603988543767228 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzPyfHFzgr"}' data-id="gzPyfHFzgr" id="gzPyfHFzgr" data-same-height-subgrid-container class="gzPyfHFzgr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:70px;--pl-mobile:15px;--pb-mobile:70px;--pr-mobile:15px;--pt-tablet:70px;--pl-tablet:15px;--pb-tablet:70px;--pr-tablet:15px;--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmo45aTt-A gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFfr-gmsue"}' data-id="gFfr-gmsue" id="gFfr-gmsue" data-same-height-subgrid-container class="gFfr-gmsue gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--cg:30px;--gtc:minmax(0, 12fr);--w:1400px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-rspR1P7j gp-relative gp-flex gp-flex-col"
    >
      
    
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
        
        

    
    <div
      class="gp-relative gp-flex gqVygAkYaf"
      style="--d:block;--d-mobile:block;--d-tablet:block"
    >
      <div class='gp-flex gp-w-full' style="--jc:center">
        <div
          style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--w:100%;--w-tablet:100%;--w-mobile:100%"
        >
          {%- assign gpBkProduct = product -%}
          {%- assign gpBkProducts = products -%}
          
      {%- liquid
        assign productHandles = 'hair-skin-nails-1,weem-apple-cider-vinegar-gummy,limited-time-health-bundle,limited-time-health-bundle-1,3-month-health-duo,3-month-beauty-boost-duo,6-bottles-hair-skin-nails,6-month-beauty-boost-duo,6-month-health-duo,12-bottles-hair-skin-nails,12-bottles-apple-cider-vinegar,health-powerhouse-trio,beauty-boost-trio,health-beauty-boost-trio,immune-powerhouse-trio,health-duo,beauty-boost-duo,immune-duo,weem-immune-support-vitamin,immune-trio'| split: ','
        assign products = null
        assign target_collection = null
        assign productSrc = 'PickProduct'
        assign c = 0
        assign limit = 4
        if request.page_type == 'collection' or preview_page_type == 'collection'
          assign target_collection = collection
          if target_collection == empty or target_collection == null
            if '654666039638' == 'latest'
              assign target_collection = collections | sort: 'updated_at'  | first
            else
              for collection in collections
                if collection.id == 654666039638
                  assign target_collection = collection
                  break
                endif
              endfor
            endif
          endif
          paginate target_collection.products by 4
            assign products = target_collection.products  
          endpaginate
        else
          if productSrc == 'RelatedProduct'
            
    
  
          elsif productSrc == 'PickProduct'
            unless false
              assign products = null | sort
              for handle in productHandles
                assign productH = all_products[handle] | sort
                assign products = products | concat: productH
              endfor
              assign limit = products.length
            else
              if 20 == 0
                paginate collections.all.products by 100000
                  assign products = collections.all.products  | sort : "created_at"  | reverse
                endpaginate
              endif
            endunless
          else
            if '654666039638' == 'latest'
              assign target_collection = collections | sort: 'updated_at'  | first
            else
              for collection in collections
                if collection.id == 654666039638
                  assign target_collection = collection
                  break
                endif
              endfor
            endif
            paginate target_collection.products by 4
              assign products = target_collection.products  
            endpaginate
          endif
        endif
      -%}
    
          
    {%- if products == null -%}
    {%- if count == 0 and 20 == 0 -%}
      {% if 'PickProduct' == 'RelatedProduct' -%}
          <div>{{ 'gempages.ProductList.no_related_products' | t }}</div>
        {% else %}
          <div>{{ 'gempages.ProductList.no_products_found' | t }}</div>
      {%- endif -%}
    {%- endif -%}
    {%-else-%}
      
    <div
      items-repeat="true" data-id="gqVygAkYaf"
      style="--rg:30px;--rg-mobile:28px;--cg:30px;--cg-mobile:24px;--gtc:repeat(3, minmax(0, 1fr));--gtc-tablet:repeat(4, minmax(0, 1fr));--gtc-mobile:repeat(2, minmax(0, 1fr))"
      class="!gp-m-auto gp-grid gp-w-full"
    >
      
      
      {%- assign count = 0 -%}
      {%- for product in products limit: limit -%}
      {%- if product.id != empty -%}
      {%- assign count = count | plus: 1 -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign product_form_id = 'product-form-' | append: "gqVygAkYaf" | append: product.id -%}
        
      <gp-product
        gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1 ,  "formId": "{{ product_form_id }}"}'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }},"pageContext" : {"pageType":"GP_INDEX","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":true,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"google","primaryLocale":"","showPriceCurrency":false,"enableLazyLoadImage":true}}'
        

      >
        {%- form 'product', product, id: product_form_id, class: 'form contents gp-child-item-gqVygAkYaf',  data-type: 'add-to-cart-form', autocomplete: 'off' -%}
        <input type="hidden" name="id" value="{{ variant.id }}" />
        <input type="hidden" min="1" name="quantity"  value="{{ quantity }}" />
        <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
            
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FBFBFB","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g81ct6P6LL"}' data-id="g81ct6P6LL" id="g81ct6P6LL" data-same-height-subgrid-container class="g81ct6P6LL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2jPy0QSvO gp-relative gp-flex gp-flex-col"
    >
      
  <style>
    .gem-slider-item-gZBCIPLN_J-{{product.id}}.gp-gallery-image-item::after, .gem-slider-item-gp-gallery-gZBCIPLN_J-{{product.id}}.gp-gallery-image-item::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      
  border-width: 1px 1px 1px 1px;
  border-color: #000000;
  
      
    }
    .gem-slider-item-gZBCIPLN_J-{{product.id}}.gp-gallery-image-item[data-outline=active]:after, .gem-slider-item-gp-gallery-gZBCIPLN_J-{{product.id}}.gp-gallery-image-item[data-outline=active]:after {
      pointer-events: none;
    }
  </style>
  
    {% assign featured_image = product.featured_image %}
    {% if variant != null and variant.featured_image != null %}{% assign featured_image = variant.featured_image %}{% endif %}
  
    <gp-product-images
      gp-data='
    {
      "id":"gZBCIPLN_J",
      "pageContext": {"pageType":"GP_INDEX","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":true,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"google","primaryLocale":"","showPriceCurrency":false,"enableLazyLoadImage":true},
      "setting":{"arrowIcon":"","borderActive":{"borderType":"none","borderWidth":"1px","color":"#000000","isCustom":"false","width":"1px 1px 1px 1px"},"clickOpenLightBox":{"desktop":false,"mobile":false,"tablet":false},"dragToScroll":true,"ftArrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","ftArrowIconColor":"#000000","ftClickOpenLightBox":{"desktop":"product-link"},"ftDotActiveColor":{"desktop":"line-3"},"ftDotColor":{"desktop":"bg-1"},"ftDotGapToCarousel":{"desktop":16},"ftDotSize":{"desktop":12},"ftDotStyle":{"desktop":"none"},"ftNavigationPosition":{"desktop":"none","mobile":"none","tablet":"none"},"galleryClickEffect":"preview","hoverEffect":"none","loop":{"desktop":true,"mobile":true,"tablet":true},"navigationPosition":{"desktop":"inside","mobile":"inside","tablet":"inside"},"otherImage":0,"pauseOnHover":true,"speed":1,"type":{"desktop":"images","mobile":"images","tablet":"images"},"typeDisplay":"all-images","zoom":1.5,"zoomType":"default"},
      "styles":{"align":{"desktop":"center","mobile":"flex-start","tablet":"flex-start"},"aspectHeight":{"desktop":0,"mobile":0,"tablet":0},"aspectWidth":{"desktop":0,"mobile":0,"tablet":0},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"ftAspectHeight":{"desktop":0,"mobile":0,"tablet":0},"ftAspectWidth":{"desktop":0,"mobile":0,"tablet":0},"ftLayout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"ftShape":{"desktop":{"shape":"original","shapeLinked":true,"width":"100%"},"mobile":{"shape":"original","shapeLinked":true,"width":"100%"},"tablet":{"shape":"original","shapeLinked":true,"width":"100%"}},"height":{"desktop":"100px","mobile":"auto","tablet":"auto"},"itemSpacing":{"desktop":"5px","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover","mobile":"cover","tablet":"cover"},"position":{"desktop":"only-feature","mobile":"only-feature","tablet":"only-feature"},"ratioLayout":{"desktop":{},"mobile":{},"tablet":{}},"ratioLayoutRight":{"desktop":{},"mobile":{},"tablet":{}},"shape":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeFor1Col":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeFor2Col":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"50%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeForBottom":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"20%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeForFtOnly":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"spacing":{"desktop":"5px","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false}},
      "productUrl":{{product.url | json | escape}},
      "product":{{product | json | escape}},
      "collectionUrl": {{ collection.url | json | escape }},
      "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}" data-id="gZBCIPLN_J"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:0px;--mb:8px;--mt-mobile:0px;--mb-mobile:8px"
      class="gp-relative gp-w-full gZBCIPLN_J "
    >
      <div
        class="{% if product.media.size > 1 %}gp-grid gp-w-full !gp-m-0 gp-relative{% else %}gp-w-full !gp-m-0 gp-relative{% endif %}"
        style="{% if product.media.size > 1 %}--gtc: minmax(0, 12fr);--gtc-tablet: minmax(0, 12fr);--gtc-mobile: minmax(0, 12fr);--gg: 5px;--gg-mobile: var(--g-s-s);{% else %}--gtc: minmax(0, 12fr);--gg: 5px;--gg-mobile: var(--g-s-s);{% endif %}"
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}{% assign largestRatio = ratio %}{% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        {% if featureMedia == null %}{% assign productImageWidth = 1600 %}{% endif %}
        <div
          class='gp-feature-image-carousel gp-feature-image-only'
          style="--jc: center;--jc-tablet: flex-start;--jc-mobile: flex-start;--o: 0;--o-tablet: 0;--o-mobile: 0;--d: flex;--d-mobile: flex;--d-tablet: flex;"
        >
          <div
            class="gp-relative"
            style="--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--h: auto;--h-tablet: auto;--h-mobile: auto;"
          >
            
      
    
            <div
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-group gp-z-0 gp-flex !gp-min-w-full !gp-max-w-full gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-outline-1 -gp-outline-offset-1 gp-image-item gp-ft-image-item data-[outline=active]:gp-outline gp-featured-image-wrapper"
              style="max-width: 100%;outline-color: var(--g-c-brand, brand);--h: auto;--h-tablet: auto;--h-mobile: auto;width: {{productImageWidth}}px;"
            >
              <div
                class="gp-w-full gp-relative {% if featureMedia == null or featureMedia.media_type == 'image' %}{{ 'gp-h-0' }}{% else %}{{ 'gp-h-full !gp-pb-0' }}{% endif %}"
                style="--pb: calc(({%if largestRatio == 0%} 100 / 100 {%else%} {{largestRatio}} {%endif%})*100%);--pb-tablet: calc(({%if largestRatio == 0%} 100 / 100 {%else%} {{largestRatio}} {%endif%})*100%);--pb-mobile: calc(({%if largestRatio == 0%} 100 / 100 {%else%} {{largestRatio}} {%endif%})*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %}{{ 'display: flex; align-items: center; justify-content: center' }}{% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
    <img
      alt="{{featureMedia.alt}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" base-src="{{src | image_url}}" data-src="{{src | image_url}}" data-srcset="{% if src != null %}{{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w{% else %}{{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}{% endif %}"
      id="{% if featureMedia != null %}{{featureMedia.id}}{% endif %}"
      style="--aspect:{{featureMedia.width}}/{{featureMedia.height}};--aspect-tablet:{{featureMedia.width}}/{{featureMedia.height}};--aspect-mobile:{{featureMedia.width}}/{{featureMedia.height}};--objf:cover;--objf-tablet:cover;--objf-mobile:cover"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}} gp_lazyload"
    />
       
       
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      src="{{mediaSourceVideo}}" alt="{{featureMedia.alt}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" width="100%" height="100%" controls="true" allowfullscreen="true"
      style="--aspect:;--aspect-tablet:;--aspect-mobile:"
      class="feature-video gp-w-full gp-h-full gp-relative"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed>
    
    <video
    id="gp-video-undefined" title="{{featureMedia.alt}}" preload="none" data-src="{{mediaSourceVideo}}" poster data-poster
      style="width:100%;max-height:100%"
      class="gp-w-full gp-lazyload-video"
      controls
      
      
      
      playsinline
      src=""
    >
      
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      {% when 'model' %}
        
    <model-viewer
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}" alt="{{featureMedia.preview_image.alt}}" data-shopify-feature="1.12" width="100%" poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}" ar-status="not-presenting" camera-controls="true"
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
    <img
      alt="No Image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-srcset="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif"
      id=""
      style="--aspect:undefined/undefined;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--objf-tablet:cover;--objf-mobile:cover"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp_lazyload"
    />
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
         
        {{ featureImageOnlyOne }}
      {% else %}{{ featureImageOnlyOne }}{% endif %}
  
        
      </div>
    </gp-product-images>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-images-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
          ,
            
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKGWVkVemW"}' data-id="gKGWVkVemW" id="gKGWVkVemW" data-same-height-subgrid-container class="gKGWVkVemW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gX6Wze7OD7 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--mb:3px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:3px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="g-dVS9Lqtu ">
      {% unless product %}<p>{{ 'gempages.ProductTitle.product_not_found' | t }}</p>{% else %}<a  class="gp-product-title-link-wrapper">
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-dVS9Lqtu"
        class="g-dVS9Lqtu"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753868760240"
      >
      <div  >
        <h2
          data-gp-text
          class=" gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;--line-clamp:2;--line-clamp-tablet:2;--line-clamp-mobile:0;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
          {{ product.title }}
        </h2>
      </div>
    </div>
    
        </a>{% endunless %}
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gceErlb4c7"}' data-id="gceErlb4c7" id="gceErlb4c7" data-same-height-subgrid-container class="gceErlb4c7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--mb:2px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:4px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gN08FOEUAj gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gLM9GcKtQJ" class="gp-leading-[0] gLM9GcKtQJ" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--ta:left">
      <div data-id="gLM9GcKtQJ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gLM9GcKtQJ " style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gm62M-P_d_ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gF3nYJoHpw" class="gp-leading-[0] gF3nYJoHpw" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--ta:left">
      <div data-id="gF3nYJoHpw" class="icon-wrapper gp-inline-flex gp-overflow-hidden gF3nYJoHpw " style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gnY7WWokfy gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g-8kGYe-_O" class="gp-leading-[0] g-8kGYe-_O" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--ta:left">
      <div data-id="g-8kGYe-_O" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-8kGYe-_O " style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gOa8v0x-cP gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g23ONhFBbM" class="gp-leading-[0] g23ONhFBbM" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--ta:left">
      <div data-id="g23ONhFBbM" class="icon-wrapper gp-inline-flex gp-overflow-hidden g23ONhFBbM " style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gfS5u1o9jQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gcvbG6D4lK" class="gp-leading-[0] gcvbG6D4lK" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--ta:left">
      <div data-id="gcvbG6D4lK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gcvbG6D4lK " style="--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:transparent">
      
        <div >
          <span style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3BqP7VAcl"
        class="g3BqP7VAcl"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753868760246"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:10px;--size-tablet:10px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#3279B7;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3BqP7VAcl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRU2XqGvSr"}' data-id="gRU2XqGvSr" id="gRU2XqGvSr" data-same-height-subgrid-container class="gRU2XqGvSr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMi1vg0gPY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g498Hy-aNv"}' data-id="g498Hy-aNv" id="g498Hy-aNv" data-same-height-subgrid-container class="g498Hy-aNv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--mb:4px;--cg:8px;--cg-mobile:4px;--rg-mobile:4px;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="guKxIYeDgh gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gOtby-QrGU" data-id="gOtby-QrGU"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gOtby-QrGU"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small)"
        gp-data='{"priceType":"regular","uid":"gOtby-QrGU","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gOtby-QrGU" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753868760274"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money  gp-text-instant"
          style="--w:100%;--tdc:#242424;--tdt:1px;--ts:none;--ta:left;--ta-mobile:left;--c:#870E2C;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gqxEdqVQk7 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        id="shopify-text-element-gfbx8CgbjR" data-id="gfbx8CgbjR" data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gfbx8CgbjR"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--focus-radius:var(--g-radius-small);-undefined-radius:var(--g-radius-small);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
        gp-data='{"priceType":"compare","uid":"gfbx8CgbjR","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gfbx8CgbjR" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753868760275"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-product-compare-price  gp-text-instant"
          style="--w:100%;--tdc:#4F4F4F;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--c:#4F4F4F;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-heading, heading);--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:line-through"
        >
          
      {% if variant.compare_at_price  %}
        {{ variant.compare_at_price | money}}
      {% else %}

      {% endif %}
    
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    {% if product %}
      
    {% assign content = section.settings.ggC8ohKqoHX_displayContent %}

    {%if content.size > 0 %}
      {% if variant.compare_at_price and variant.compare_at_price > 0 %}
        {% assign amountDiscount = variant.compare_at_price | minus: variant.price %}
        {% assign percentDiscount = amountDiscount | times: 100.0 | divided_by: variant.compare_at_price | round%}
      {% else %}
        {% assign amountDiscount = 0 %}
        {% assign percentDiscount = 0 %}
      {% endif %}

      {% assign percentDiscountValue = percentDiscount | append: "%" %}
      {% assign amountDiscountValue = amountDiscount | money_without_trailing_zeros %}
      {% assign price = variant.price | divided_by: 100 %}
      {% assign minPriceValue = product.variants | map: "price" | sort | first | money_without_trailing_zeros %}
      {% assign inventoryQuantityValue = variant.inventory_quantity %}

      {% assign percentDiscountKey = "{percent_discount}" %}
      {% assign amountDiscountKey = "{amount_discount}" %}
      {% assign minPriceKey = "{min_price}" %}
      {% assign inventoryQuantityKey = "{inventory_quantity}" %}
    {% endif %}
  
      
  {% assign isShow = true %}
  {% assign conditionTriggers = "" %}
  {% assign isInventoryStatus = false %}
  {% assign isDiscountPrice = false %}
  {% assign isPriceRange = false %}
  {% assign isCreationDate = false %}
  {% assign isProductTag = false %}
  
      {% assign type = "in_stock" %}
      {% assign shouldContinue = false %}
      {% if variant.inventory_policy == "continue" and type != "out_of_stock" %}
        {% assign shouldContinue = true %}
      {% endif %}
      {% if variant.inventory_management == null or shouldContinue  %}
        {% assign conditionTriggers = conditionTriggers | append: "," | append: true %}
      {% elsif variant.inventory_quantity != null %}
        {% assign compareValue = variant.inventory_quantity %}
        {% if type == "in_stock" %}
          {% assign conditionType = "exact_or_above" %}
          {% assign from = 1 %}
          {% assign to = 15 %}
          
    {% assign enabled = false %}
    {% case conditionType %}
      {% when "exact" %}
        {% if compareValue == from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "above" %}
        {% if compareValue > from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "below" %}
        {% if compareValue < from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "exact_or_above" %}
        {% if compareValue >= from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "exact_or_below" %}
        {% if compareValue <= from %}
          {% assign enabled = true %}
        {% endif %}
      {% when "between" %}
        {% if compareValue >= from and compareValue <= to %}
          {% assign enabled = true %}
        {% endif %}
      {% else %}
        {% assign enabled = false %}
    {% endcase %}
  
          {% if conditionType == "below" or conditionType == "exact_or_below" %}
            {% assign min = 1 %}
            {% assign from = 1 %}
            {% assign to = from | minus: min | plus: 1 %}
            {% if compareValue >= from and compareValue <= to %}
              {% assign enabled = true %}
            {% else %}
              {% assign enabled = false %}
            {% endif %}
          {% endif %}
          {% assign isInventoryStatus = enabled %}
        {% else %}
          {% if compareValue <= 0 and variant.inventory_policy != "continue"  %}
            {% assign isInventoryStatus = true %}
          {% endif %}
        {% endif %}
        {% assign conditionTriggers = conditionTriggers | append: "," | append: isInventoryStatus %}
      {% else %}
        {% assign conditionTriggers = conditionTriggers | append: "," | append: false %}
      {% endif %}

  
  {% assign trigger_arr = conditionTriggers | split: "," %}
  {% for trigger in trigger_arr %}
    {% if trigger == "false" %}
      {% assign isShow = false %}
    {% endif %}
  {% endfor %}
  {% assign price = variant.price | times: 1.0 %}
  {% assign salePrice = variant.compare_at_price | times: 1.0 %}
  {% assign priceSave = salePrice | minus: price %}
  {% assign isDiscountContent = false %}
  {% assign isTextBadge = true %}
  {% if priceSave <= 0 or isDiscountContent == false or isTextBadge == false or variant.inventory_management == nil %}
    {% assign isShow = false %}
  {% endif %}
  {% if isShow %}
    {% assign className = "" %}
  {% else %}
    {% assign className = "!gp-hidden" %}
  {% endif %}
  
      <gp-product-badge
        data-id="gC8ohKqoHX" id="g-product-badge-gC8ohKqoHX" gp-data-hidden="false"
        gp-data='{"minPrice":"{{ minPriceValue | replace: '"', '\\"' | escape }}","variantIDs":"{{  product.variants | map: "id" | json | escape }}","variantInventoryQuantities":"{{ product.variants | map: "inventory_quantity" | json | escape }}","amountDiscount":"{{amountDiscountValue | replace: '"', '\\"' | escape }}","percentDiscount":"{{percentDiscountValue}}","price":"{{price}}","displayTrigger":[{"triggerEvent":"inventory_status","type":"in_stock","quantityType":"exact_or_above","from":"1","to":"15","priority":0,"conditionType":"exact_or_above"}],"uid":"gC8ohKqoHX","productCreatedAt":"{{product.created_at | date: "%Y-%m-%d" }}","productTags":"{{ product.tags | join: "," }}","isTextBadge":true}'
        class="containerClass {{className}}"
        style="z-index:1;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--op:100%;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
        data-display-content="{{ section.settings.ggC8ohKqoHX_displayContent }}"
      >
        <div class="gp-flex gp-justify-start ">
          <div
            data-product-id id="gC8ohKqoHX"
            class="gp-h-full"
            style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--mb:0;opacity:1"
          >
            <style>
     [id="gC8ohKqoHX"] .product-badge-item {
      filter: undefined;
      transition: filter 0.3s ease;
    }

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      [id="gC8ohKqoHX"] .product-badge-item {
        filter: undefined;
      }
    }

    @media only screen and (max-width: 767px) {
      [id="gC8ohKqoHX"] .product-badge-item {
        filter: undefined;
      }
    }
  </style>
            
                <div class="gp-w-full gp-h-full gp-overflow-hidden product-badge-item">
                  <div
                    class="gp-w-full gp-h-full gp-flex gp-items-center gp-justify-center gp-overflow-hidden"
                    style="--bc:line-3;--bw:1px 1px 1px 1px;--bs:none;--btlr:3px;--btlr-tablet:3px;--btlr-mobile:3px;--btrr:3px;--btrr-tablet:3px;--btrr-mobile:3px;--bblr:3px;--bblr-tablet:3px;--bblr-mobile:3px;--bbrr:3px;--bbrr-tablet:3px;--bbrr-mobile:3px;--bg:#870E2C;--bg-tablet:#870E2C;--bg-mobile:#870E2C;height:100%"
                  >
                    <pre
                      id="product-badge-content"
                      class="gp-break-words gp-text-center "
                      style="--ws:pre-wrap;--ws-tablet:pre-wrap;--ws-mobile:pre-wrap;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:900;--size:10px;--size-tablet:10px;--size-mobile:8px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#EAEAEA;--ts:none;--pl:12px;--pr:12px;--pt:3px;--pb:3px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:2px;--pb-mobile:2px"
                    >{{ content | replace: percentDiscountKey, percentDiscountValue | replace: amountDiscountKey, amountDiscountValue | replace: inventoryQuantityKey, inventoryQuantityValue | replace: minPriceKey, minPriceValue }}</pre>
                  </div>
                </div>
          </div>
        </div>
      </gp-product-badge>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-badge-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {% endif %}
  
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:35px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--focus-bblr:9999px;--focus-bbrr:9999px;--focus-btlr:9999px;--focus-btrr:9999px;-undefined-bblr:9999px;-undefined-bbrr:9999px;-undefined-btlr:9999px;-undefined-btrr:9999px;--op:100%;--ta:left" >
        <style>[data-id="gM6-Oiizhv"].gp-button-base::before, [data-id="gM6-Oiizhv-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #EDC24A;
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gM6-Oiizhv"]:hover::before, [data-id="gM6-Oiizhv-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gM6-Oiizhv" dataId="gM6-Oiizhv" data-state="idle" aria-label="<p>ADD TO CART</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--focus-bblr:9999px;--focus-bbrr:9999px;--focus-btlr:9999px;--focus-btrr:9999px;-undefined-bblr:9999px;-undefined-bbrr:9999px;-undefined-btlr:9999px;-undefined-btrr:9999px;--bgi:linear-gradient(130deg, #1d4a5c 0%, #1d4a5c 50%, #1d4a5c 100%);--hvr-bgi:;--bg:linear-gradient(130deg, #1d4a5c 0%, #1d4a5c 50%, #1d4a5c 100%);--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gM6-Oiizhv gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:15px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggM6-Oiizhv_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
          
    
        {%- endform -%}
      </gp-product>
  
      {%- endif -%}
      {% endfor %}
      {%- if count == 0 and 20 == 0 -%}
        {% if 'PickProduct' == 'RelatedProduct' -%}
          <div>{{ 'gempages.ProductList.no_related_products' | t }}</div>
        {% else %}
          <div>{{ 'gempages.ProductList.no_products_found' | t }}</div>
        {%- endif -%}
      {%- endif -%}
    
    </div>
  
    {%- endif -%}
    
          {%- assign product = gpBkProduct -%}
          {%- assign products = gpBkProducts -%}
        </div>
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wWA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPHw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-577603988543767228 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1n0xuf-x6/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=577600234792681996&sectionId=577603988543767228)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3BqP7VAcl_text","label":"gg3BqP7VAcl_text","default":"<p><span style=\"font-size:12px;\">View Details</span></p>"},{"type":"html","id":"ggC8ohKqoHX_displayContent","label":"ggC8ohKqoHX_displayContent","default":"SALE"},{"type":"html","id":"ggM6-Oiizhv_label","label":"ggM6-Oiizhv_label","default":"<p>ADD TO CART</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
